{% assign icon = feature.settings.icon %}
<div class="ai-product-showcase-feature">
  <div class="ai-product-showcase-feature-icon">
    {% render 'icon', icon: icon %}
  </div>
  <div class="ai-product-showcase-feature-content">
    <h3 class="ai-product-showcase-feature-title">{{ feature.settings.title }}</h3>
    {% if feature.settings.description != blank %}
      <p class="ai-product-showcase-feature-description">{{ feature.settings.description }}</p>
    {% endif %}
  </div>
</div>
