
.mega-menu__grid[data-menu-grid-id="MegaMenuList-2"]{  --menu-columns-desktop: 4;
    --menu-columns-tablet:3
  }
  .menu-list__list-item{
    margin-right: 10px;
  }
  .mega-menu__link--parent .mega-menu__link-title{
    font-size: 16px !important;
    font-weight: 600 ;
  }
  .mega-menu__link-title{
    font-size: 14px;
  }
  .menu-list__link-title {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* optional */
    padding-bottom: 4px; /* space for underline */
  }
  
  .menu-list__link-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #000; /* underline color */
    transition: width 0.3s ease-in-out;
    color: #000;
   
  }
  .menu-list__link-title:hover {
    font-weight: 600; /* bold on hover */
  }
  
  .menu-list__link-title:hover::after {
    width: 100%;
  }

  .mega-menu__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* optional */
    padding-bottom: 4px; /* space for underline */
    text-transform: inherit !important;
  }
  
  .mega-menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #000; /* underline color */
    transition: width 0.3s ease-in-out;
  }
  .mega-menu__link:hover {
    font-weight: 600; /* bold on hover */
  }
  .mega-menu__link:hover::after {
    width: 100%;
  }
  .header__columns{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .hero{
    --hero-min-height:500px !important;
    min-height:500px !important
  }
  .product-media-container.media-fit img {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
  }
  .section-resource-list__header h3{
     font-size: larger !important;
  }
  .custom-font-size p{
    font-weight: 600;
    font-size: 14px;
    padding: 0px 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;     /* Show only 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  div[ref="priceContainer"] .price{
    font-weight: 600;
    font-size: 14px;
    padding: 0px 10px;

  }
.add-to-cart-button {
    background-color: #ea7a77;
    --button-border-color:#ea7a77;
}
.add-to-cart-button:hover {
    background-color: #ea7a77;
    --button-border-color:#ea7a77;
}
.ui-test-product-list .resource-list__carousel slideshow-slides[gutters="start end"]{
    /* justify-content: center; */
}
[data-testid="card-tags"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  [data-testid="card-tags"] > div {
    background: #c12f27;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 12px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .product-card{
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 8px; /* optional: smooth corners */
  }

  .product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px); /* subtle lift effect */
  }
  .collection-card__content{
    margin: 0px 0px 10px 10px;
  }
  .collection-card__content .rte{
    font-size: 18px;
    font-weight: 600;
  }
  .collection-card__content .link{
    font-size: 14px;
    
  }