
.mega-menu__grid[data-menu-grid-id="MegaMenuList-2"]{  --menu-columns-desktop: 4;
    --menu-columns-tablet:3
  }
  .menu-list__list-item{
    margin-right: 5px;
  }
  .mega-menu__link--parent .mega-menu__link-title{
    font-size: 16px !important;
    font-weight: 600 ;
  }
  .mega-menu__link-title{
    font-size: 14px;
  }
  .menu-list__link-title {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* optional */
    padding-bottom: 4px; /* space for underline */
  }
  
  .menu-list__link-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #000; /* underline color */
    transition: width 0.3s ease-in-out;
    color: #000;
   
  }
  .menu-list__link-title:hover {
    font-weight: 600; /* bold on hover */
  }
  
  .menu-list__link-title:hover::after {
    width: 100%;
  }

  .mega-menu__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* optional */
    padding-bottom: 4px; /* space for underline */
  }
  
  .mega-menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: #000; /* underline color */
    transition: width 0.3s ease-in-out;
  }
  .mega-menu__link:hover {
    font-weight: 600; /* bold on hover */
  }
  .mega-menu__link:hover::after {
    width: 100%;
  }
  .header__columns{
    padding-top: 0px;
    padding-bottom: 0px;
  }